.container {
  display: grid;
  width: 100%;
}

.select { 
  width: 100%; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  padding: 5px; 
  box-sizing: border-box;
}

.imageContainer { 
  display: flex; 
  width: 100%; 
  flex-direction: column; 
  align-items: center
}

.showImage { 
  width: 100%; 
  height: auto; 
  margin: 8px; 
  border-radius: 8px; 
  box-sizing: border-box
}

.selectFiles > h3 {
  margin-bottom: 18px;
}

.remove {
  width: 50%;
  margin-top: 8px;
}