.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  gap: 40px;
  width: 90vw;
}

.main > h1 {
  text-align: center;
}

.main h3 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  min-height: 200px;
  border: 2px solid gray;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formGroup > input {
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .main {
    min-height: 60vh;
    padding: 2rem;
  }

  .form {
    width: 90vw;
  }
}